# =============== #
# Unity generated #
# =============== #
[Tt]emp/
[Oo]bj/
[Bb]uild
[Ll]ibrary/
[Bb]in/
[Dd]ev/
[Bb]ackup
ProjectSettings/
sysinfo.txt

# ===================================== #
# Visual Studio / MonoDevelop generated #
# ===================================== #
[Ee]xported[Oo]bj/
/*.userprefs
/*.csproj
/*.pidb
/*.suo
/*.sln*
/*.user
/*.unityproj
/*.booproj
*.suo
 
# ============ #
# OS generated #
# ============ #
.DS_Store*
._*
.Spotlight-V100
.Trashes
Icon?
ehthumbs.db
[Tt]humbs.db

# ============ #
# Self		   #
# ============ #
Assets/Art
Assets/bolt
Assets/Gizmos
Assets/Imported
Assets/Materials
Assets/NGUI
Assets/Plugins
Assets/Prefabs
Assets/Resources
Assets/Scenes
Assets/Shaders
Assets/StreamingAssets
Assets/XInputDotNet
*.meta